
.login-page,
.register-page {
  -ms-flex-align: center;
  align-items: center;
  background: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-box,
.register-box {
  width: 550px;
}

@media (max-width: 576px) {
    .login-box,
    .register-box {
      margin-top: 20px;
      width: 90%;
    }
  }

  .login-box-msg,
.register-box-msg {
  font-size: 15px;
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}

.login-logo,
.register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: .9rem;
  text-align: center;
}

.login-logo a,
.register-logo a {
  color: #495057;
}
.login-card-body,
.register-card-body {
  background: #ffffff;
  border-top: 0;
  color: #666;
  padding: 20px;
}


.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control {
  border-left: 0;
}

.login-card-body .input-group .form-control:focus,
.register-card-body .input-group .form-control:focus {
  box-shadow: none;
}

.login-card-body .input-group .form-control:focus ~ .input-group-prepend .input-group-text,
.register-card-body .input-group .form-control:focus ~ .input-group-prepend .input-group-text {
  border-color: #80bdff;
}

.login-card-body .input-group .form-control.is-valid:focus,
.register-card-body .input-group .form-control.is-valid:focus {
  box-shadow: none;
}

.login-card-body .input-group .form-control.is-valid ~ .input-group-prepend .input-group-text,
.register-card-body .input-group .form-control.is-valid ~ .input-group-prepend .input-group-text {
  border-color: #28a745;
}

.login-card-body .input-group .form-control.is-invalid:focus,
.register-card-body .input-group .form-control.is-invalid:focus {
  box-shadow: none;
}

.login-card-body .input-group .form-control.is-invalid ~ .input-group-prepend .input-group-text,
.register-card-body .input-group .form-control.is-invalid ~ .input-group-prepend .input-group-text {
  border-color: #dc3545;
}

.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text {
  background-color: #e9ecef;
  border-bottom-left-radius: 0.25rem;
  border-right: 0;
  border-top-left-radius: 0.25rem;
  color: #777;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}

.bg-login1{
    background-color: #00B7BA;
    color: #ffffff;
}
.bg-login1:hover{
    color: #00B7BA;
    background-color: #ffffff;
    border: 1px solid #00B7BA;
}
.text-login1{
    color: #00B7BA;
}
.bg-login2{
    background-color: #F79432;
    color: #ffffff;
}
.bg-login2:hover{
    color: #F79432;
    background-color: #ffffff;
    border: 1px solid #F79432;
}
.text-login2{
    color: #F79432;
}

.bg-login11{
    background-color: #00B7BA;
}
.bg-login11:hover{
    background-color: #F79432;
}
.bg-login22{
    background-color: #F79432;
}
.bg-login22:hover{
    background-color: #00B7BA;
}
.text-login11{
    color: #00B7BA;
}
.text-login11:hover{
    color: #F79432;
}
.text-login22{
    color: #F79432;
}
.text-login22:hover{
    color: #00B7BA;
}